{% extends 'base.html' %}
{% block title %}Completed tasks{% endblock %}
{% block menu %}
    <a class="nav-link" href="{% url 'create_category' %}">Add Category</a>
{% endblock %}
{% block content %}
    {% for task in tasks %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ task.title }}</p>
                <a href="{% url 'really_delete' task.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}